button,div,form,input{
    margin : 10px;
    font-size: 15px;
    
}
button{
    padding: 8px 10px;
    border-radius: 12px;
    background-color:#4d88ff;
    color: white;
}
form{
    float: right;
    margin-right: 30px;
}
